/* .intro{
background-image:url("src/assets/backie4.jpg");
background-size: cover;
background-repeat: no-repeat;
height: 500px;
width: 100%;
color:palevioletred;
} */

h1{
    text-align: center;
}
.intro{
    color: palevioletred;
}
.card {
    margin-bottom: 20px;
    opacity: 0.9;
    background-color:turquoise;
  }
  
