<div class="container-fluid">
  <div class="intro">
    <h1>Welcome to Quote corner</h1>

  </div>

  <div class="row">
    <div class="col-md-6">
      <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
    </div>
    <div class="col-md-6">
        <div *ngFor='let quote of quotes;let i = index'>
          <br>
          <br>
            <div class="card">
                <p id={{i}}>quote: "{{quote.quote}}" <br> by: {{quote.author}} <br> submitted
                    by:{{quote.submittedBy}} <br> since :{{quote.since|dateCount}} days ago</p>
                    <!-- <button style="margin-left:20px; width: 100px;" class="btn btn-outline-warning" (click)='downVote($event)'>{{quote.downVote}} <i
                      class="fa fa-thumbs-down" aria-hidden="true"></i></button> -->
                    <button (click)='toggleDetails(i)' class="btn btn-dark" >Review</button>
            </div>
            <div *ngIf='quote.showDescription'>
              <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
          </div>
        </div>

    </div>

  </div>

</div>













